.info-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.input{
    width: 45%;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;

}

.input input{
width: 80%;
}

.btn-confirm.name-confirm{
    position: relative;
    
}
#name-warning{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-weight: 600;
}
